*.retry
*.pyc
__pycache__/
.venv/

projects/*/.vault_pass
projects/*/secrets.yml
projects/*/docker-compose.yml
!projects/gateway/docker-compose.yml
projects/gateway/routes/
projects/*/backend/*/.env
projects/*/frontend/.env
projects/*/proxy.conf
projects/*/.proxy-port-*
