*.retry
*.pyc
__pycache__/
.venv/

projects/*/.vault_pass
projects/*/secrets.yml
projects/*/docker-compose.yml
projects/*/traefik-dynamic/
projects/*/backend/*/.env
projects/*/frontend/.env
projects/*/proxy.conf
projects/*/.proxy-port-*
