*.retry
*.pyc
__pycache__/
.venv/

projects/*/.vault_pass
projects/*/secrets.yml
projects/*/docker-compose.yml
infra/gateway/routes/
projects/*/backend/*/.env
projects/*/frontend/.env
projects/*/backend/*/host.env
projects/*/.services.sh
projects/*/proxy.conf

deploy.env
